body {
  font-family: monospace;
}
h2 {
  text-align: center;
}
.btn {
  display: block;
}
.jumbotron {
  text-align: center;
  font-weight: bold;
}
.jumbotron img {
  max-width: 300px;
  max-height: auto;
}
